
body {
  padding-top: 56px;
  height:100%;
}
.login{
  color: black;
  size: 16px;
  display: inline;
}

.account-bt{
  border-radius: 4px;
  background-color: white;
  border: none;
  text-align: center;
  padding:2px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.account-bt a {
  color: black !important;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.account-bt a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -25px;
  transition: 0.5s;
}

.account-bt:hover a {
  padding-right: 15px;
  text-decoration: none;
}

.account-bt:hover a:after {
  opacity: 1;
  right: 0;
}
.brand{
  vertical-align: middle;
  margin-left: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: white;
}
footer{
  position:fixed;
  bottom:0;
  width: 100%;
}
.container{
  height:100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}

#list_grp ul {
  list-style: none;
}

#list_grp input {
  visibility:hidden;
}
#list_grp label {
  cursor: pointer;
}
#list_grp input:checked + label {
  border: rgb(1, 226, 226) solid 1px;
  box-shadow: rgb(1, 226, 226) 0 1px 1px 0;
}
.delete_item{
  height: 5px;
  width: 5px;
  color: rgb(127, 225, 255)
}
.delete_item:hover{
  color: red
}
.njoum{
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}